

 @import url('https://fonts.googleapis.com/css?family=Aldrich|Black+Ops+One|Fredericka+the+Great|Marck+Script|Merriweather|Roboto|VT323');
 
 

 body{
    padding: 0px;
    margin: 0px;
    overflow-x: none;
    overflow-y: auto;
    background: #16222A;  
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); 
    background: linear-gradient(to right, #3A6073, #16222A); 
 }
 /* #collapse navbar-collapse{
   position: fixed;
 } */

 p {
    text-align: justify;
    font-size: 20px;
    margin-top: 0;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 18px;
  }
  
  .fullCard {
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 51px;
    padding: 4px;
    opacity: 0.7;
    margin-bottom: 5%;
    margin: 5%;
    z-index: 999;
  }

.fullCard img {
    opacity: 1;
    width: 30%;
    border-radius: 50%;
}

  .cardContent {
    padding: 25px;
    font-family: Aldrich;
    color: white;
  }

  .cardText {
    margin-bottom: 35px;
    font-size: 35px;
  }

  .navv{
      background-color: transparent;
  }
  .navbar-toggler-icon{
      border-color: white;

  }
  
  .khom{
   max-width: 99%;
    border-radius: 5px;
    padding: 4px;
    margin: 0px 0px 0px 0px;
    background-color: black;
  }
  h1{

    text-transform: uppercase;
    visibility: visible;
    color: white;
    text-align: center;
    font-size: 30px;
  
   }
  

  h2{
    color: white;
    margin-bottom: 45px;
  }
  
 .fab{
  margin: 0px 0px 0px 10px;
 }

 img {
  vertical-align: middle;
  width: 85%;
  border-style: none;
}

.image
{
    background:url(images/back.png);
    height:100px;
    width:100px;
    display: block;
    float:left;
}
.image  a {
  display: none;
}

.image a:hover {
  display: block;
}
 .title1{
  visibility: visible;
  font-size: xx-large;
  color: #000;
}

 section{
  padding: 5rem 1.5rem;
  text-align: center;
 }

 .container.is-narrow{
  max-width: 1200px;
 }
 


 /* .section.skills .box .content .columns .column:last-child {
  border-right: none;
}

.section.skills .box .content .columns .column {
  padding: 50px 30px;
  border-bottom: 1px solid #E6ECF8;
  border-right: 0px solid #E6ECF8;
} */
 /* .column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
  float: left;;
  
} */


 .box{
  background: #abbaab;
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  background: linear-gradient(to right, #ffffff, #abbaab);
  display: block;
  overflow: none;
  overflow-x: auto;
  overflow-y: none;
  padding: 100px 30px 100px 30px;
  visibility: visible;
  margin: 40px 10px;
 }

 .col-sm-4:last-child {
  border-right: none;
}
  .col-sm-4{
  
    padding: 50px 30px;
    /* border-bottom: 1px solid #E6ECF8;  */
    border-right: 2px solid rgb(181, 188, 201);
 } 

 .title{
   float: left;
   visibility: visible;
   width: 35%;

 }


 .content{
  width: 60%;
  float :left;
  /* position: center; */

}

 h3{
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-transform: uppercase;
  visibility: visible;
  position: center;
 }

 h4{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 0px;
  text-transform: uppercase;
  visibility: visible;
  color: black;
 }
 
 li {
   list-style-type: none;
   
 }

 dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  float: left;
  text-align: left;
}

 .story{
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 0px;
  visibility: visible;
  padding-left: 20px;
  float: left;
 }

#foot{
  color: whitesmoke;
  padding-bottom: 60px;

}

header.navbar.navbar-expand-lg.navbar-light.bg-light {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}